[
    {pechkin, [
              % {max_workers, "${MAX_WORKERS}"}
    ]},
    {lager, [
        {colored, true},
        {handlers, [
          {lager_console_backend, [{level, info},
                                   {formatter, lager_default_formatter},
                                   {formatter_config, ["[",severity,"]",pid, " ", message, "\n"]}
          ]}
        ]}
    ]}
].